body {
    margin: 0;
    background: #e9e2d8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    perspective: 1000px;
    font-family: sans-serif;
}

.envelope {
    position: relative;
    width: 300px;
    height: 400px;
    cursor: pointer;
    margin: 0;
}

/* 닫힌 상태 덮개 */
.cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f5cdd1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    border-radius: 10px;
    font-weight: bold;
    transition: opacity 0.5s;
}

/* 봉투 */
.envelope-body {
    position: relative;
    width: 100%;
    height: 100%;
}

/* 날개 */
.wing {
    position: absolute;
    top: 45px; /* 본체 최상단부터 시작해야 꼭짓점이 맞습니다 */
    width: 150px;
    height: 300px; /* 본체 높이에 맞춰 조절 */
    background: #f5cdd1;
    transition: transform 0.8s;
    z-index: 2;
}

.left {
    left: -150px;
    transform-origin: right;
    transform: rotateY(-180deg);
    /*clip-path: polygon(100% 0%, 100% 100%, 0% 80%, 0% 33.3%);*/
    clip-path: polygon(100% 0%, 100% 100%, 0% 80%, 0% 15%);
}


.right {
    right: -150px;
    transform-origin: left;
    transform: rotateY(180deg);
    /*clip-path: polygon(0% 0%, 0% 100%, 100% 80%, 100% 33.3%);*/
    clip-path: polygon(0% 0%, 0% 100%, 100% 80%, 100% 15%);
}

/* 위 플랩 */
.top-flap {
    position: absolute;
    top: 45px;
    left: 0;
    width: 300px;
    height: 100px; /* 삼각형 높이를 살짝 늘려 날개와 맞춤 */
    background: #f5cdd1;
    transform-origin: top;
    transition: transform 0.8s;
    z-index: 3;
    /* 닫혔을 때 본체 뒤로 숨김 */
    transform: rotateX(0deg);
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}

/* 편지 */
.letter { /*display: none;*/
    position: absolute;
    top: 40px;
    left: 0px;
    width: 260px;
    background: #f5cdd1;
    padding: 20px;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s;
    z-index: 5;
}

/* 열렸을 때 */
.envelope.open .cover {
    opacity: 0;
    pointer-events: none;
}

.envelope.open .top-flap {
    transform: rotateX(180deg);
}

.envelope.open .left {
    transform: rotateY(0deg);
}

.envelope.open .right {
    transform: rotateY(0deg);
}

.envelope.open .letter {
    opacity: 1;
    transform: translateY(0);
}

/* 내부 스타일 */
.image-area {
    height: 120px;
    background: white;
    margin-bottom: 10px;
}

.field input {
    width: 100%;
    margin-bottom: 5px;
    padding: 5px;
}

.message {
    font-size: 12px;
    margin-top: 10px;
}

.date {
    text-align: right;
    font-size: 11px;
}