/*전역 폰트 불러오기*/

@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

@font-face {
    font-family: 'Galmuri11';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2506-1@1.0/Galmuri11-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

html, body {
    height: 100%;
    margin: 0;
    /* 🚨 추가: body 자체를 위아래 블록을 쌓는 Flex 뼈대로 만듭니다 */

    display: flex;
    flex-direction: column;

    width: 100vw;
    overflow-x: hidden;
}

* {
    font-family: 'Galmuri11', serif !important;
}

body {
    background-image: url('/image/background.png'); /* 경로 맞게 수정 */
    background-size: cover; /* 화면 꽉 채움 */
    background-position: center; /* 가운데 정렬 */
    background-repeat: no-repeat; /* 반복 제거 */
    background-attachment: fixed; /* ⭐ 스크롤해도 고정 */
}

/* 화면 전체를 감싸는 뼈대 설정 */
.container {

    flex: 1;
    margin-top: 142px;

    display: flex;
    flex-direction: column;
    overflow: hidden; /* 화면 밖으로 삐져나가는 부분 숨김 */
    width: 100%;
}

/* 헤더가 차지하고 남은 아래쪽 공간을 꽉 채우는 마법의 속성 */
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

    /* 회원가입 등 서브 페이지를 위해 세로 스크롤은 유지 */
    overflow-y: auto;
    box-sizing: border-box;
}

